<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Management</title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <style>
        .poppins{
            .poppins-light {
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                font-style: normal;
                }
        }
    </style> -->
</head>
<body class="bg-[#D3C4D1]  ">
    <nav>
        <div class="p-3 sm:p-5 bg-[#FF729F] flex justify-between items-center">
            <div class="flex basis-[100%] justify-center items-center">
                <a href="#" class="sm:text-2xl lg:text-3xl text-[#FFFFFF] cursor-pointer hover:scale-105 hover:z-10 poppins font-black text-center">Employee Leave Management System</a>
            </div>
            <div class="hamburger md:hidden text-[#FFFFFF] cursor-pointer" >
                <svg viewBox="0 0 100 80" width="40" height="20">
                    <rect width="100" height="20" rx="10" ></rect>
                    <rect y="30" width="100" height="20" rx="10"></rect>
                    <rect y="60" width="100" height="20" rx="10"></rect>
                </svg>
            </div>
            <div class="hidden md:hidden absolute top-[48px] sm:top-[72px] right-0 w-full bg-[#FF729F] p-3 text-center " id="logout">
                <a href="/auth/logout" class="sm:text-lg lg:text-xl text-[#FFFFFF] cursor-pointer hover:scale-105 hover:z-10 poppins font-black text-center">Logout</a>
            </div>
            <div class="max-md:hidden">
                <a href="/auth/logout" class="sm:text-lg lg:text-xl text-[#FFFFFF] cursor-pointer hover:scale-105 hover:z-10 poppins font-black text-center">Logout</a>
            </div>
        </div>
       
    </nav>
    <div id="main" class="w-[80%] mx-auto my-10 bg-[#81F4E1]  ">
        <div class="p-3 bg-[#56CBF9] flex justify-center ">
            <h1 class="color-[#FF729F] text-[#FFFFFF] poppins sm:text-xl lg:text-2xl font-bold"  id="name"><%= employee.firstName%> <%= employee.lastName%></h1>
        </div>
        <div class="p-5 flex flex-col gap-6 ">
                <ul class="list-disc px-5 flex flex-col gap-5 font-bold  text-[#FF729F]">
                    <% if (employee.designation !== "Non IT") { %>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins designation" Teaching="true">Designation: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold"><%= employee.designation %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" Teaching="true">Qualification </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold"><%= employee.qualification %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" Teaching="true">Department: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold"><%= employee.department %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" Teaching="true">Phone No: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold"><%= employee.phoneNumber %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" Teaching="true">Email ID: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold"><%= employee.emailId %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins">Number of Casual leaves left: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold"  id="cl"><%= employee.casualLeaves.number %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Number of Earned leaves left: </p>
                                <p class="text-[#FFFFFF] text-xs md:text-lg  lg:text-xl poppins font-semibold" id="el"><%= employee.earnedLeaves.number  %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Number of Special leaves left: </p>
                                <p class="text-[#FFFFFF] text-xs md:text-lg  lg:text-xl poppins font-semibold" id="sl"><%= employee.specialLeaves.number  %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Last leave: </p>
                                <p class="text-[#FFFFFF] text-xs md:text-lg  lg:text-xl poppins font-semibold" id="sl"><% if(lastLeave == "No leaves taken yet"){ %><%= lastLeave %><% }else{ %><%= lastLeave.date %> (<%= lastLeave.typeofLeave %>)<% } %></p>
                            </div>
                        </li>
                    <% }else{%>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins designation" >Designation: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold" ><%= employee.designation %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Qualification: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold" ><%= employee.qualification %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Department: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold" ><%= employee.department %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins" >Phone No: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold" ><%= employee.phoneNumber %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg g lg:text-xl poppins" >Email ID: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg  lg:text-xl poppins font-semibold" ><%= employee.emailId %></p>
                            </div>
                        </li>
                        <li>
                            <div class="flex gap-2 ">
                                <p class="text-[#FF729F] font-bold text-xs md:text-lg  lg:text-xl poppins">Number of Commuted leaves left: </p>
                                <p class="text-[#FFFFFF]  text-xs md:text-lg   lg:text-xl poppins font-semibold"  id="cml"><%= employee.commutedLeaves.number %></p>
                            </div>
                        </li>
                    <% } %>
                </ul>

                <div class="flex justify-center" id="apply">
                    <button class="bg-[#FF729F]  max-sm:text-sm max-sm:p-2 p-3  hover:scale-105 cursor-pointer md:text-lg text-white rounded-full poppins">Apply for leave</button>        
                </div>
        </div>
    </div>
    <div class=" modal z-10 h-screen  absolute top-0 justify-center items-center w-full bg-black bg-opacity-50 hidden">
        <div class="bg-[#56CBF9]   h-fit ">
            <div class="bg-[#FF729F] p-3 flex items-center">
                <h1 class="text-[#FFFFFF] text-center poppins sm:text-xl lg:text-2xl font-bold flex-1 ">Apply for leave</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" class="cursor-pointer" id="close" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
            </div>
            <div class=" p-3 sm:px-5 sm:py-3 ">
                <form method="post"  class="flex flex-col gap-4 poppins text-[#FF729F] font-medium" id="leaveForm" >
                    <div class="flex gap-1 sm:gap-2 ">
                        <label for="typeOfLeave"  class="md:text-lg  text-[#FFFFFF]">Type of Leave: </label>
                        <select required name="typeOfLeave" id="typeOfLeave" class="flex-1 sm:p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                            <% if (employee.designation !== "Non IT") { %>
                                <option value="" selected disabled>Select</option>
                                <option value="casual">Casual</option>
                                <option value="earned">Earned</option>
                                <option value="special">Special</option>
                            <% }else{ %>
                                <option value="commuted">Commuted</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="flex gap-1 sm:gap-2  ">
                        <label for="startDate"  class="md:text-lg  text-[#FFFFFF]">Start Date: </label>
                        <input required type="date" name="startDate" id="startDate" class="flex-1 sm:p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    <div class="flex gap-1 sm:gap-2  ">   
                        <label for="endDate"  class="md:text-lg  text-[#FFFFFF]">End Date: </label>
                        <input required type="date" name="endDate" id="endDate" class="flex-1 sm:p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    <div class="flex  gap-1 sm:gap-2 ">
                        <label for="numberOfDays"  class="md:text-lg  text-[#FFFFFF]">Number of Days: </label>
                        <input required type="number" disabled name="numberOfDays" id="numberOfDays" class="flex-1 sm:p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    <div class="flex flex-col gap-1 sm:gap-2 ">
                        <label for="reason"  class="md:text-lg  text-[#FFFFFF]">Reason: </label>
                        <textarea name="reason" id="reason" rows="5" class="sm:p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]"></textarea> 
                    </div>
                          
    
                   
                <div class="flex justify-center">
                    <button type="submit" class="bg-[#FF729F]  p-3  hover:scale-105 cursor-pointer md:text-lg text-white rounded-full">Submit</button>
                </div>
                </form>
            </div>
        </div>
        
    </div>
    

    

</body>
<script>
     const logout = document.getElementById('logout');
    const hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener("click",(e)=>{
        logout.classList.toggle('hidden');
    });

    const modal = document.querySelector('.modal');
    const apply = document.getElementById('apply');
    const close = document.getElementById('close');

    close.addEventListener('click',()=>{
        modal.classList.remove('flex');
        modal.classList.add('hidden');
    });
    apply.addEventListener('click',()=>{
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    });

    const designationElem = document.querySelector(".designation");
    let cl,el,sl,cml,designation;
    if(designationElem.hasAttribute("Teaching")){
        cl = document.getElementById("cl");
        el = document.getElementById("el");
        sl = document.getElementById("sl");
    }else{
        cml = document.getElementById("cml");
    }
    const startDate = document.querySelector("#startDate");
    const endDate = document.querySelector("#endDate");

    endDate.addEventListener("change",(e)=>{
        const startDateObj = new Date(startDate.value);
        const endDateObj = new Date(endDate.value);

        let differenceInDays = Math.floor((endDateObj - startDateObj) / (1000 * 60 * 60 * 24));

        for (let i = 0; i <= differenceInDays; i++) {
            const currentDate = new Date(startDateObj.getTime() + (i * 24 * 60 * 60 * 1000));
            if (currentDate.getDay() === 0) {
                differenceInDays--;
            }
        }

       document.getElementById('numberOfDays').value = differenceInDays + 1;
    });

    const leaveForm = document.querySelector("#leaveForm");
    leaveForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const typeOfLeave = document.querySelector("#typeOfLeave").value;
        const startDate = document.querySelector("#startDate").value;
        const endDate = document.querySelector("#endDate").value;
        const numberOfDays = document.querySelector("#numberOfDays").value;



        const startDateObj = new Date(startDate);
        const endDateObj = new Date(endDate);

        

        if(startDateObj > endDateObj){
            alert("End date should be greater than start date");
            return;
        }
        if(typeOfLeave === "casual" && Number(cl.innerHTML) < numberOfDays){
            alert("Not enough leaves left");
            return;
        }
        if(typeOfLeave === "earned" && Number(el.innerHTML) < numberOfDays){
            alert("Not enough leaves left");
            return;
        }
        if(typeOfLeave === "special" && Number(sl.innerHTML) < numberOfDays){
            alert("Not enough leaves left");
            return;
        }
        if(typeOfLeave === "commuted" && Number(cml.innerHTML) < numberOfDays){
            alert("Not enough leaves left");
            return;
        }
        fetch('/info/applyLeave',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                typeOfLeave,
                startDate,
                endDate,
                numberOfDays,
            })
        }).then(res=>{
            if(res.status === 200){
                alert("Leave applied successfully");
                window.location.reload();
            }
            if(res.status === 400){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
            if(res.status === 500){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
        });
    });

</script>
</html>